venv/
.venv/
__pycache__/
*.pyc
.git/
.env
scripts/
tests/
dockerhub_api.egg-info*
.github/
build/
site/
.bumpversion.cfg
.pre-commit-config.yaml
pytest.ini

Dockerfile
debug.Dockerfile
agent.compose.yml
mcp.compose.yml
